{
    "presets": [["babel-preset-gatsby"]],
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "python"],
                "theme": "solarizedlight",
                "css": true
            }
        ]
    ]
}
