@import '../components/header.scss';
@import '../components/variables.scss';

.demo {
  width: 100%;
  min-height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding-top: $header-height;
  border: none;
}
.demo-inactive {
  pointer-events: none;
}

.demo-wrapper-loaded {
  header {
    border-bottom: none;
  }
}
