@import '../components/header.scss';
@import '../components/variables.scss';

.demo {
    width: 100%;
    height: calc(100% - #{$header-height});
    flex: 1;
    min-width: $min-width;
    position: absolute;
    border: none;
}
.demo-inactive {
    pointer-events: none;
}

.demo-loading {
    width: 100%;
    height: calc(100% - #{$header-height});
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;
    color: $color-light-gray;
}

.demo-wrapper {
    .global-header {
        position: relative;
    }
}
.demo-wrapper-loaded {
    header {
        border-bottom: none;
    }
}
