$color-primary: #00d2b4;

$color-white-gray: #f7f7f7;
$color-very-light-gray: #ececec;
$color-light-gray: #dddddd;
$color-gray: #808080;
$color-dark-gray: #505050;
$color-very-dark-gray: #424242;

$color-link: #4949c7;

$min-width: 620px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Fira+Mono');

$font-primary: 'Open Sans', sans-serif;
$font-title: 'Open Sans', sans-serif;
$font-mono: 'Fira Mono', sans-serif;
